@keyframes fade-animation
  0%
    opacity: .5
    font-size: 40pt
  100%
    opacity: 1
    font-size: 70pt

@keyframes disapear-animation
  0%
    opacity: 1
  100%
    opacity: 0
@keyframes appear-animation
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes horizontal-shaking
 0% 
  transform: translateX(0)
 25%
  transform: translateX(5px)
 50% 
  transform: translateX(-5px)
 75% 
  transform: translateX(5px)
 100% 
  transform: translateX(0)

*
  box-sizing: border-box
  color: #293133
  font-family: 'Geologica', sans-serif
html
  margin: 0
  height: 100vh
body
  background-color: #fefbf5
  margin: 0
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
.hidden
  display: none !important
.next
  cursor: pointer
  user-select: none
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  margin-top: 250px
  font-size: 16pt
  width: 230px
  height: 70px
  background-color: #db5856
  color: #fefbf5
  border-radius: 15px
  animation-duration: .2s
  i
    color: #fefbf5
    position: relative
    top: 2px
    margin-left: 10px

.info
  position: absolute
  top: 0
  right: 0
  margin: 50px
  .count
    font-size: 30pt
    text-align: right
  .rate
    font-size: 20pt
    text-align: right
    color: #696969
.disapear
  animation-name: disapear-animation
  animation-timing-function: ease-in-out
.appear
  animation-name: appear-animation
  animation-timing-function: ease-in-out
.shaking
  animation-name: horizontal-shaking
  animation-timing-function: ease
  animation-iteration-count: 1
.word
  position: relative
  cursor: default
  font-size: 70pt
  display: flex
  align-items: flex-end
  animation-duration: .2s
  .char
    user-select: none
    min-width: 80px
    text-align: center
    animation-duration: .2s
  .active.vow:hover
    animation-name: fade-animation
    animation-timing-function: ease
    color: #77dd77
    text-transform: uppercase
  .active.cons:hover
    color: #696969
  .correct
    color: #77dd77
    text-transform: uppercase
  .incorrect
    color: #db5856
    animation-name: appear-animation
    animation-timing-function: ease
  .context
    color: #696969
